* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

#info {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
	font-size: 2rem;
	pointer-events: none; /* Prevent cursor point click events */
	user-select: none; /* Make text not selectable */
}